<section class="card">
    <header>{{content}}</header>
    <div class="card-body">
      <p>By: {{user.username}}</p>
      <p>Date Created: {{created}}</p>
      <p id="id" style="display: none">{{id}}</p>
    </div>
  <button class="delete-comment">Delete</button>
  <a href="/comment/edit/{{id}}">Edit</a>
</section>

<script src="../js/comment.js"></script>