<section class="container">
  
  <header>{{post.title}}</header>
  <h4>{{post.content}}</h4>
  <h4>Date Created: {{post.created}}</h4>
  <h4>User: {{post.user.username}}</h4>
  <button id="delete">Delete</button>
  <a href="/post/edit/{{post.id}}">Edit</a>
  <section class="flex-row justify-center">
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
  </section>
  <form id="create-comment">
    <input type="text" id="comment-content" name="comment-content" placeholder="Comment Text"/>
    <button type="submit">Submit</button>
  </form>
</section>

<script src="../js/post.js"></script>
